= simple_form_for(@cliente) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome, label: "Nome"
    = f.input :endereco, label: "Endereço"
    = f.input :telefone, label: "Telefone"
    = f.input :email, label: "E-mail"

  .form-actions
    = f.submit "Salvar"
