%h1 Listing clientes

%table
  %thead
    %tr
      %th Nome
      %th Endereco
      %th Telefone
      %th Email
      %th
      %th
      %th

  %tbody
    - @clientes.each do |cliente|
      %tr
        %td= cliente.nome
        %td= cliente.endereco
        %td= cliente.telefone
        %td= cliente.email
        %td= link_to 'Show', cliente
        %td= link_to 'Edit', edit_cliente_path(cliente)
        %td= link_to 'Destroy', cliente, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Novo Cliente', new_cliente_path
