%p#notice= notice

%p
  %b Nome:
  = @cliente.nome
%p
  %b Endereco:
  = @cliente.endereco
%p
  %b Telefone:
  = @cliente.telefone
%p
  %b Email:
  = @cliente.email

= link_to 'Editar', edit_cliente_path(@cliente)
\|
= link_to 'Voltar', clientes_path
