= simple_form_for(@mensagem) do |f|
  = f.error_notification

  .form-inputs
    = f.association :Cliente, label: "Nome", label_method: :nome
    = f.input :email, label: "E-mail"
    = f.input :assunto, label: "assunto"
    = f.input :conteudo, conteudo: "conteudo"

  .form-actions
    = f.submit "Salvar"
