%h1 Listing mensagens

%table
  %thead
    %tr
      %th Cliente
      %th Email
      %th Assunto
      %th Conteudo
      %th
      %th
      %th

  %tbody
    - @mensagens.each do |mensagem|
      %tr
        %td= mensagem.Cliente
        %td= mensagem.email
        %td= mensagem.assunto
        %td= mensagem.conteudo
        %td= link_to 'Show', mensagem
        %td= link_to 'Edit', edit_mensagem_path(mensagem)
        %td= link_to 'Destroy', mensagem, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mensagem', new_mensagem_path
