= simple_form_for(@faleconosco) do |f|
  = f.error_notification

  .form-inputs
    = f.association :Cliente, label: "Nome", label_method: :nome
    = f.input :email, label: "Email"
    = f.input :assunto, label: "Assunto"
    = f.input :conteudo, label: "Conteudo"

  .form-actions
    = f.submit "Salvar"
