%p#notice= notice

%p
  %b Cliente:
  = @faleconosco.Cliente.nome
%p
  %b Email:
  = @faleconosco.email
%p
  %b Assunto:
  = @faleconosco.assunto
%p
  %b Conteudo:
  = @faleconosco.conteudo

= link_to 'Editar', edit_faleconosco_path(@faleconosco)
\|
= link_to 'Voltar', faleconoscos_path
