%p#notice= notice

%p
  %b Cliente:
  = @pedido.Cliente
%p
  %b Produto:
  = @pedido.Produto
%p
  %b Quantidade:
  = @pedido.quantidade
%p
  %b Valorunitario:
  = @pedido.valorunitario
  %b Valor:
  = @pedido.valor
%p
  %b Total:
  = @pedido.total

= link_to 'Editar', edit_pedido_path(@pedido)
\|
= link_to 'Voltar', pedidos_path
