%p#notice= notice

%p
  %b Nome:
  = @produto.nome
%p
  %b Categoria:
  = @produto.categoria
%p
  %b Descricao:
  = @produto.descricao
%p
  %b Valor:
  = @produto.valor

= link_to 'Edit', edit_produto_path(@produto)
\|
= link_to 'Back', produtos_path
