%ul.nav
  %li= link_to 'HOME', root_path
  %li= link_to 'Clientes', clientes_path
  %li= link_to 'Produtos ', produtos_path
  %li= link_to 'Pedidos', pedidos_path
  %li= link_to 'Fale Conosco', faleconoscos_path
  = render 'layouts/navigation_links'
